/.idea/
MyGenerator/.idea/
MyGenerator/bin/
MyGenerator/obj/
HelloLib/.idea/
/HelloLib/bin/
/HelloLib/obj
/MyGenerator.Attributes/bin/
/MyGenerator.Attributes/obj/
/MyGenerator.Tests/bin/
.vs
.idea
SourceGenRnd.sln.DotSettings.user
GeneratorConsumer/bin/
GeneratorConsumer/obj/
MyGenerator.Tests/bin/
MyGenerator.Tests/obj/
MyGenerator.Attributes/bin/
HelloLib/bin/